@media(max-width:1480px) {
    .numbers_body {
        width: 90%;
    }
}

@media(max-width:1360px) {
    .container {
        width: 85%;
    }
    .courses_page__text {
        flex-basis: 50%;
    }
    .courses_form {
        flex-basis: 40%;
    }
}

@media(max-width:1250px) {
    .container {
        width: 95%;
    }
    .services_body {
        flex-basis: 100%;
        padding: 10px;
    }
    .numbers_body li {
        padding: 6px 20px;
    }
    .banner .container>div {
        width: 80%;
        position: relative;
    }
}

@media(max-width:980px) {
    .container {
        width: 98%;
    }
    .numbers_body {
        width: 100%;
    }
    .logo {
        padding-left: 20px;
    }
    .side_menu {
        position: absolute;
        right: -10px;
        top: 62px;
        display: none;
    }
    .close_menu.active {
        display: block;
    }
    .side_menu.active {
        display: flex;
    }
    .side_menu ul {
        flex-direction: column;
        width: 260px;
        background-color: #fff;
        min-height: 100vh;
        align-items: center;
        overflow: auto;
    }
    .side_menu ul li {
        margin-top: 25px;
    }
    .side_menu ul li a {
        font-size: 1.2rem;
        color: #000f5c !important;
    }
    .menu_hamburguer {
        display: flex;
        padding: 0 20px;
        cursor: pointer;
    }
    .menu_hamburguer span {
        display: flex;
        color: #000f5c;
        font-size: 2.5rem;
        cursor: pointer;
    }
    .courses_form {
        width: 50%;
    }
    .enterprise_items {
        flex-basis: 48%;
    }
}

@media( max-width: 950px) {
    .banner_text h2 {
        font-size: 1.2rem;
        line-height: 25px;
    }
    .banner_text strong {
        font-size: 2.8rem;
        line-height: 46px;
    }
    .banner_text p {
        line-height: 25px;
        font-size: .9rem;
    }
    .numbers_body {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .numbers_items:first-of-type {
        display: none;
    }
    .numbers_body .numbers_items {
        width: 25%;
    }
    .tab_li {
        flex-wrap: wrap;
    }
    .tab_li li {
        padding: 10px 15px;
        flex: 0 0 50%;
        cursor: pointer;
        border-bottom: 1px solid #888;
        border-right: 1px solid #888;
    }
    .portfolio article {
        flex-basis: 48%;
        margin: 1% !important;
    }
}

@media( max-width: 920px) {
    .apresentation_text,
    .apresentatiom_img {
        flex-basis: 80%;
        margin: 10px auto;
        padding: 10px;
    }
    .apresentatiom_img img {
        width: 100%;
    }
    .courses_page__text {
        flex-basis: 100%;
    }
    .courses_form {
        flex-basis: 80%;
        margin: 30px auto;
    }
    .who_are_text {
        flex-basis: 80%;
        margin: auto;
        padding-right: 0;
    }
    .who_image {
        flex-basis: 46%;
        margin: 30px auto;
    }
    .partner_clientes div {
        flex-basis: 50%;
        padding: 20px;
    }
    .partner_clientes.ps_multi div {
        flex-basis: 50%;
    }
}

@media( max-width: 860px) {
    .banner_img {
        display: none;
    }
    .banner .container>div {
        width: 100%;
        padding: 40px 20px;
    }
    .footer_items {
        width: 45%;
    }
    .courses_page__text {
        width: 80%;
        padding: 20px;
        margin: auto;
    }
    .numbers_body li {
        padding: 6px 10px !important;
    }
}

@media(max-width:750px) {
    .logo a {
        font-size: 1rem;
    }
    .back_orage strong {
        font-size: 2rem;
    }
    .back_orage span {
        font-size: 3rem;
    }
    .enterprise_items {
        flex-basis: 98%;
        margin: 20px auto;
        padding: 15px !important;
    }
    .services_body article {
        flex-basis: 100%;
    }
    .numbers_body li {
        flex: 0 0 50%;
        border-bottom: 1px solid #888
    }
    .who_are_text {
        flex-basis: 100%;
        margin: auto;
        padding: 15px !important;
    }
    .who_image {
        flex-basis: 86%;
        margin: 30px auto;
    }
    .partner_clientes div {
        flex-basis: 100%;
        padding: 40px;
    }
    .partner_clientes.ps_multi div {
        flex-basis: 100%;
    }
}

@media(max-width:650px) {
    .courses_form {
        width: 100%;
    }
    .courses_page__text {
        width: 100%;
    }
    .apresentation_text,
    .apresentatiom_img {
        flex-basis: 100%;
        margin: 10px auto;
    }
    .banner_text div div a:first-of-type {
        margin-right: 0px;
    }
    .banner_text div div a,
    .more_view {
        padding: 14px;
        margin-top: 15px;
        display: block;
    }
    .partner_clientes div {
        flex-basis: 100%;
        padding: 20px;
    }
    .tab_li li {
        flex: 0 0 100%;
    }
    .portfolio article {
        flex-basis: 98%;
    }
}

@media(max-width:500px) {
    .numbers_body .numbers_items {
        flex-basis: 50%;
        margin-bottom: 1px;
    }
    .banner .container {
        align-items: flex-start;
        margin-top: 80px;
    }
    .banner_text h2 {
        font-size: 1.2rem;
        line-height: 30px;
    }
    .apresentatiom_img {
        margin-top: 50px;
    }
    .foto {
        width: 100%;
        height: 240px;
    }
    .courses_form {
        flex-basis: 100%;
        margin: 30px auto;
    }
    .numbers_body li {
        flex: 0 0 100%;
        border-bottom: 1px solid #888;
        padding: 10px !important;
    }
}

@media(max-width:400px) {
    .apresentatiom_img {
        margin-top: 70px;
    }
}